# Settings to send the PHPMailer
# The following settings are required to send email using the PHPMailer library. 
# You can use any SMTP server, but in this example we are using Gmail's SMTP server.

# To send email using your personal Gmail account, you need to enable "APP Passwords" in your Google Account settings. 
# This will allow you to generate a unique password for the PHPMailer to use when connecting to Gmail's SMTP server. 
# Here is step by step guide how to enable "APP Passwords" in your Google Account:
# 1. Login into your Google Account: https://myaccount.google.com/
# 2. Go to https://myaccount.google.com/apppasswords
# 3. Enter a name for the app (e.g., "My Mail Plugin").
# 4. Click "Generate" and copy the generated password.
# 5. Use this generated password in the EMAIL_PASSWORD field below.

# First 4 rows are used to connect to the SMTP server

# The EMAIL_SENDER would be used for the sender email address in the "From" field of the email. Make sure that the 
# email used in that field is listed in the Gmail->Settings->Accounts Send mail as section, otherwise Gmail will not 
# allow you to send email using that address.

# The EMAIL_NAME is the name visible to email recipients in the "From" field of the email. You can set it to your 
# company name or any other name you want.

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email_address
EMAIL_PASSWORD=your_email_password
EMAIL_SENDER=user@server.com
EMAIL_NAME=Company Name

# Path relative to the actions/form.php
MESSAGE_TEMPLATE_PATH=../emails/contact.html

# Cloudflare Configuration for turnstile. Uncomment and set these values if you want to enable turnstile verification 
# in the contact form. You can get these keys from your Cloudflare dashboard.
#CLOUDFLARE_SITE_KEY=your_cloudflare_site_key
#CLOUDFLARE_SECRET_KEY=your_cloudflare_secret_key